{% extends 'base.html.twig' %}

{% block title %}Изменение Регистрационного Номера{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto mt-10">
        <h1 class="text-2xl font-bold mb-5">Изменение Регистрационного Номера для <span class="text-red-500">{{ vehicle.registrationNumber }}</span></h1>
        <form action="{{ path('vehicle_change_registration', {'oldRegistrationNumber': vehicle.registrationNumber}) }}" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">
                    Марка (неизменяемая):
                </label>
                <input type="text" value="{{ vehicle.make }}" readonly
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight">
            </div>

            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2">
                    Модель (неизменяемая):
                </label>
                <input type="text" value="{{ vehicle.model }}" readonly
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight">
            </div>
            <div class="mb-4">
                <label for="newRegistrationNumber" class="block text-gray-700 text-sm font-bold mb-2">
                    Новый Регистрационный Номер:
                </label>
                <input type="text" id="newRegistrationNumber" name="newRegistrationNumber" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Введите новый номер">
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Изменить Номер
                </button>
            </div>
        </form>
    </div>
{% endblock %}
