{% extends 'base.html.twig' %}

{% block title %}Регистрация Транспортного Средства{% endblock %}

{% block body %}
<div class="max-w-4xl mx-auto mt-10">

<h1 class="text-xl font-bold mb-4">Регистрация Транспортного Средства</h1>
    <form method="post" action="{{ path('vehicle_register_form') }}" class="space-y-4">
        <div class="flex flex-col">
            <label for="ownerFullName" class="font-medium">ФИО владельца:</label>
            <input type="text" id="ownerFullName" name="ownerFullName" required
                   class="p-2 border border-gray-300 rounded"
                   placeholder="Иванов Иван Иванович">
        </div>

        <div class="flex flex-col">
            <label for="make" class="font-medium">Марка автомобиля:</label>
            <input type="text" id="make" name="make" required
                   class="p-2 border border-gray-300 rounded"
                   placeholder="Toyota">
        </div>

        <div class="flex flex-col">
            <label for="model" class="font-medium">Модель автомобиля:</label>
            <input type="text" id="model" name="model" required
                   class="p-2 border border-gray-300 rounded"
                   placeholder="Corolla">
        </div>

        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Регистрация</button>
    </form>
</div>
{% endblock %}
